.table {
	max-width: 750px;
}

.tableHeader {
	width: 100px;
	text-align: left;
}

.tableHead {
	border-bottom: 1px solid black;
}

.tableHeader button {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0px;
}

.tableBody:before {
	content: "@";
	display: block;
	line-height: 20px;
	text-indent: -99999px;
}

td {
	padding: 5px;
}

tr:nth-child(even) {
	background: rgb(192, 191, 191);
}
